@font-face{font-family:'Abril Fatface';font-style:normal;src:url(./AbrilFatface-Regular.ttf)}@font-face{font-family:'Alfa Slab One';font-style:normal;src:url(./AlfaSlabOne-Regular.ttf)}
body {
    font-size: 2vh;
    font-family: Abril Fatface;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    background-color: black;
    height: 100%;
    text-wrap: wrap !important;
}
html {
    height: 100%;
}
span {
    font-size: 1.2em;
}

#hostname, #hostname2, #time, #time2 {
    font-size: 1.5em;
    font-family: Alfa Slab One;
}

#hostname2 {
    font-size: 1.5em;
    font-family: Alfa Slab One;
}

.timeOuter {
    position: absolute;
    left: 45.5vw;
    right: 45.5vw;
}

.action {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1vw !important;
    background-color: rgba(119, 136, 153, 0.7);
    color: white;
    text-wrap: wrap;
}

.powerMenuButton{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1vw !important;
    background-color: lightslategrey;
    color: white;
    width: 20vw;
}

.actionIcon {
    max-height: 80%;
    min-height: 80%;
    vertical-align: middle;
}

p {
    font-size: 1.4em !important;
}

#powerOptImg {
    height: 2em;
}

#devIconImg {
    height: 2em;
}

#appsIconImg {
    height: 2em;
}

h1 {
    font-family: Alfa Slab One;
    font-size: 6em;
}
.w3-bar{
    background-color: rgba(0,0,0,0.7);
}
.barBtn{
    background-color: transparent;
    color: white;
}
